.list-item {
	position: relative;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	left: -2.2rem;
	background-color: transparent;

}

/* .list-item:not(:last-child) {
	border-bottom: 1px solid black;
} */

.list-item-dragging {
	background-color: burlywood;
	border-radius: 1.1rem;
}

.list-item i {
	font-size: 2rem;
	visibility: hidden;
	transition: all 0.1s ease;
}

.list-item:hover i {
	visibility: visible;
}

.list-item:hover i:hover {
	cursor: grab;
}

.list-item:hover i:hover:active {
	cursor: grabbing;
}

.task-title {
	font-size: 1.6rem;
}
